<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Minesweeper</a>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link <%= active_class(boards_path) %>" href=<%= boards_path %>>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= active_class(new_board_path) %>" href=<%= new_board_path %>>New Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= active_class(boards_all_path) %>" href=<%= boards_all_path %>>All Boards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>