<h1>ALL Boards</h1>

<ul>
  <% @boards.each do |board| %>
    <li>
      <a href="<%= board_path(board) %>">
        <%= board.name %></a>
      <%= board.email %>
      <%= board.height %>
      <%= board.width %>
      <%= board.mine_count %>
      <%= board.created %>
    </li>
  <% end %>
</ul>

<%= link_to "Return Home", boards_path %>