<%= render partial: "shared/navbar" %>

<div class="container">
  <h1>Most Recent Minesweeper Boards</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Board Name</th>
        <th scope="col">Creator Email</th>
        <th scope="col">Width</th>
        <th scope="col">Height</th>
        <th scope="col">Mine Count</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <th scope="row"><a href="<%= board_path(board) %>">
          <%= board.name %></a></th>
          <td><%= board.email %></td>
          <td><%= board.width %></td>
          <td><%= board.height %></td>
          <td><%= board.mine_count %></td>
          <td><%= board.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>