<%= render partial: "shared/navbar" %>

<div class="container">
  <h1><%= @board.name %></h1>
  <ul>
    <li><%= "Width: #{@board.width}" %></li>
    <li><%= "Height: #{@board.height}" %></li>
    <li><%= "Mine Count: #{@board.mine_count}" %></li>
    <li><%= "Creator Email: #{@board.email}" %></li>
  </ul>

  <div class="board">
    <% @board.rows.each do |row| %>
      <div class="board-rows">
        <%= row.row_content %>
      </div>
    <% end %>
  </div>
</div>