<h1><%= @board.name %></h1>

<p><%= "Width: #{@board.width}" %></p>
<p><%= "Height: #{@board.height}" %></p>
<p><%= "Mine Count: #{@board.mine_count}" %></p>
<p><%= "Email: #{@board.email}" %></p>

<ul>
  <% @board.rows.each do |row| %>
    <li>
      <%= row.row_content %>
    </li>
  <% end %>
</ul>

<%= link_to "Return Home", boards_path %>